
<h1>This should be the LANDING page</h1>

<div class="landing">

  <div class="logo">
    <h1>...make my day...</h1>
  </div>

  <div class="gaps">
  </div>

  <div class="bio">
    <p>What to do with the day? </p>
    <p>With so many amazing things to do in your city the burden of choice is sometimes too much, no problem, let us make your day for you.</p>
    <p>Three simple questions and we'll do the rest...</p>
  </div>

  <div class="gaps">
  </div>

  <div class="third">
    <%= link_to("LOGIN", login_path, :class => "button") %>
    <div class="space"></div>
    <%= link_to("SIGN UP", new_user_path, :class => "button") %>
  </div>

</div>
