<h1>This should be the SIGN UP page</h1>

<div class="content">

  <div class="logo">
    <h1>...Sign Up...</h1>
  </div>

  <div class="gaps"></div>

<div class="second">
  <p id="instruct">
    This can't be your first rodeo..you know the drill. Put your details in the sign up box and away we go!
  </p>
  <div class="form1">
      <div>
        <%= render( :partial => 'form' ) %>
      </div>
  </div>
</div>


</div>
